{% extends "dashboard.html" %}

{% load staticfiles %}
{% load url from future %}

{% block content %}

        <div class="jumbotron">
          <h1>Hayatımın Kısa Özeti</h1>
          <p>
              17 Nisan 1999'da İstanbul/Sultanbeylide dogdum. 7 yaşına kadar istanbul dışındaki balıca köyü diye bir yerde yaşadım daha sonra egitim hayatım için istanbulun sancaktepe ilçesine taşındık.Babam işlerden ötürü biz taşındıktan 5 yıl sonra yanımıza taşınabildi. Egitim ögretim hayatımın ilk 8 Yılını Kemal Türkler İlk Ögretim Okulunda geçirdim daha sonrasında ise lise hayatımı Samandıra Mesleki ve Teknik Anadolu lisesinde geçirdim bu 12 yıllık süreçte toplamda 15 tane belge aldım.Daha Sonrasında Girmiş oldugum üniversite sınavından aldıgım puanla Uludag üniversitesinin Bilgisayar Programcılıgı Bölümünü Kazandım ve Şuanda Burdaki Son yılımm ...
          </p>
          
        </div>
        
{% endblock content %}